
/*------------资讯列表样式1  列----------------*/

.main-top{
    padding-top:20px;
    background: #f7f7f7;
}


.main-wrap{
    width: 100%;
    height: auto;
}

.main{
    padding: 20px 0;
    height: auto;
}

.menu-tit{
    margin-bottom:20px;
    padding-left:40px;
    width: 160px;
    height: 40px;
    line-height: 40px;
    background: #ff9800;
    border-radius: 0 20px 20px 0;
    font-size:20px;
    color:#fff;
    display: inline-block;
}

.main-banner img{
    width: 100%;
}

/*---主题部分  列表----*/

.list-wrap{
    width: 900px;
    /*margin:0 auto; */
}


.list{
    padding:20px 0;
    height:150px;
    border-bottom: 1px solid #ccc;
}

/*图片容器*/
.list-pic{
    width: 260px;
    height:150px;
    float: left;
}

.list-pic img{
    width: 100%;
    transition: all 0.6s;
}

.list-pic img:hover{
    margin-top:-10px;
}

/*内容容器*/
.list-content{
    position: relative;
    padding-left:20px;
    width: 620px;
    height:150px;
    float: right;
}

.list-tit{
    margin-bottom:20px;
    font-size:20px;
    width: 100%;
    height:auto;
    max-height:48px;
    line-height:24px;

    position: relative;  

    overflow : hidden;
    text-overflow: ellipsis;

    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;

    display: -moz-box;
    -moz-line-clamp: 2!important;
    -moz-box-orient: vertical;

}

.list-tit:after {
    background: linear-gradient(to right, rgba(255, 255, 255, 0), #FFFFFF 50%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    width: 80px;
    height: 24px;
    content: "";
    padding: 0 5px 1px 30px;
    position: absolute;
    right:0;
    bottom: 0;
}
.list-tit:hover{
    color:#ff9800;
}

.list-brief{
    font-size:16px;
    color:#b2b2b2;
}

.list-date{
    position: absolute;
    right:0;
    bottom:0;
    color:#b7b7b7;
}





/*-----点击加载更多------*/
.click-more{
    width: 200px;
    height:40px;
    margin:20px auto;
    border:1px solid #ff9800;
    border-radius: 20px;
}
.click-more button{
    width: 100%;
    height: 100%;
    border:0;
    background: transparent;
    color:#ff9800;
    cursor: pointer;
    font-size:18px;
}


